h2, h3 { text-align: center }

h2 { border: none }

input {
	border: 1px solid #bbb;
	border-radius: 4px;
	box-shadow: inset 2px 2px 3px rgba(0,0,0,.2);
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0 .5em 0 0;
	padding: .5em;
	-webkit-appearance: none
}

iframe {
	height: 246px;
	width: 437px
}

main { width: 100% }

label { display: inline-block }

p { margin: 1em 0 }

/* ID Def */
#Display {
	height: 100vw;
	margin: 0 auto;
	max-height: 380px;
	max-width: 380px;
	position: relative;
	width: 100vw
}

#Canvas {
	height: 100%;
	margin: 0 auto;
	position: relative;
	width: 100%
}

#Zoom {
	height: 100vw;
	left: 0;
	max-height: 960px;
	max-width: 960px;
	position: absolute;
	top: 0;
	width: 100vw;
	zoom: 1.2
}

#Canvas img {
	height: 100%;
	max-height: 380px;
	max-width: 380px;
	position: absolute;
	width: 100%
}

#Zoom img {
	height: 100%;
	max-height: 960px;
	max-width: 960px;
	position: absolute;
	width: 100%
}


#Canvas .rotate {
	height: 36px;
	top: 40px;
	width: 46px;
	z-index: 20
}

.rotate.left { left: 0 }
.rotate.right { right: 0}

#Navigation {
	/*background: #f0f0f0;*/
	height: calc(100vh - 100vw + 40px);
	min-height: calc(100vh - 480px + 40px)
}

#Navigation header {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555), color-stop(100%, #000));
	background-image: -webkit-linear-gradient(#555, #000);
	background-image: -moz-linear-gradient(#555, #000);
	background-image: -o-linear-gradient(#555, #000);
	background-image: -ms-linear-gradient(#555, #000);
	background-image: linear-gradient(#555, #000);
	color: #fff;
	font-size: 1.8rem;
	padding: .5em;
	position: relative;
	text-align: center
}

#Navigation header a {
	position: absolute;
	top: 1rem
}

#Navigation a.left {	left: 10px }
#Navigation a.right {	right: 10px }

#Navigation header .btn {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #777), color-stop(0%, #353535), color-stop(100%, #000));
	background-image: -webkit-linear-gradient(#777, #353535, #000);
	background-image: -moz-linear-gradient(#777, #353535, #000);
	background-image: -o-linear-gradient(#777, #353535, #000);
	background-image: -ms-linear-gradient(#777, #353535, #000);
	background-image: linear-gradient(#777, #353535, #000);
	border-radius: 2.4rem;
	box-shadow: inset 0 1px 0 #999, 0 1px 1px black;
	font-size: 1.4rem;
	font-weight: bold;
	height: 2.8rem;
	padding: 0;
	width: 2.8rem
}

#Navigation div { position: relative }
#Navigation .select {
	background: #fff;
	height: calc(100% - 8em);
	margin: 0 auto;
	overflow-y: scroll;
	padding: 5px;
	width: 100%
}

#TextureCtrl { height: 100% }

#TextureCtrl label,
#CollarCtrl label,
#CuffCtrl label,
#ButtonCtrl label,
#ThreadCtrl label,
#FrontCtrl label,
label.embColor,
label.embPos,
label.embFont {
	background-repeat: no-repeat;
	background-size: cover;
	border: 1px solid #aaa;
	border-radius: 4px;
	box-shadow: 0 0 2px #999;
	display: inline-block;
	margin: 0 2px;
	overflow: hidden;
	position: relative
}

label.embColor { background-repeat: repeat }

#TextureCtrl label { 	background-size: initial; height: 48px; width: 48px }
#ButtonCtrl label { height: 95px; width: 95px }
#CollarCtrl label, #CuffCtrl label { height: 150px; width: 150px }
#ThreadCtrl label { height: 69px; max-width: 348px; width: 100% }
#FrontCtrl label { height: 213px; max-width: 173px; width: calc(50% - 5px) }
label.embColor { height: 52px; width: 52px }
label.embPos { height: 150px; width: 150px }
label.embFont { height: 37px; width: 171px }

#TextureCtrl label:hover, #CollarCtrl label:hover, #CuffCtrl label:hover, #ButtonCtrl label:hover, #ThreadCtrl label:hover, #FrontCtrl label:hover, label.embColor:hover, label.embPos:hover, label.embFont:hover { cursor: pointer }

#TextureCtrl label.on,
#CollarCtrl label.on,
#CuffCtrl label.on,
#ButtonCtrl label.on,
#ThreadCtrl label.on,
#FrontCtrl label.on,
label.embColor.on,
label.embPos.on,
label.embFont.on,
.silhouette.on{
	border: 1px solid #ff69be !important;
	box-shadow: inset 0 0 2px 3px #ff69be;
	-moz-box-shadow: inset 0 0 2px 3px #ff69be;
	-webkit-box-shadow: inset 0 0 2px 3px #ff69be
}

#TextureCtrl label.on:before,
#CollarCtrl label.on:before,
#CuffCtrl label.on:before,
#ButtonCtrl label.on:before,
#ThreadCtrl label.on:before,
#FrontCtrl label.on:before,
label.embColor.on:before,
label.embPos.on:before {
	background: #77dd00;
	border: 1px solid #77dd00;
	border-radius: .7em;
	color: #fff;
	content: '\e807';
	font-family: choice;
	font-size: 2rem;
	height: 1em;
	left: calc(50% - .75em);
	line-height: 1;
	padding: .2em;
	position: absolute;
	top: calc(50% - .75em);
	width: 1em
}

#Navigation input[type=radio] {
	display: none;
	margin: 0;
	padding: 0;
	-webkit-appearance: none
}

#SleeveCtrl label, #ClericCtrl label, #PocketCtrl label, label.isEmb {
	background: #999;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, .1)), color-stop(100%, rgba(0, 0, 0, .1)));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .29);
	color: #fff;
	cursor: pointer;
	display: block;
	/*font-weight: bold;*/
	font-size: 2rem;
	margin: 0 0 5px 0;
	padding: .5em 0;
	text-align: center;
	width: 100%
}

#SleeveCtrl label.on, #ClericCtrl label.on, #PocketCtrl label.on, label.isEmb.on { background-color: #1da1da }


#EmbDesign legend {
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
	margin-top: .5em
}

#embName {
	border-radius: 4px;
	display: block;
	font-size: 2rem;
	max-width: 100%;
	width: 16em
}

#steps {
	background: none;
	border: none;
	color: #fff;
	font-size: 1.8rem;
	padding: 0;
	text-indent: calc(50% - 2em);
	width: calc(100% - 8em);
	-webkit-appearance: none
}

#ConfirmCtrl, #DetailMeasure, #SimpleMeasure { background: #fff; overflow-y: scroll }
#ConfirmCtrl main { background: transparent; padding: 0 10px; width: 100% }
#DetailMeasure, #SimpleMeasure { padding: 10px 10px 0 }
#DetailMeasure .btn.alone, #SimpleMeasure .btn.alone { width: 100% }
#DetailMeasure .btn, #SimpleMeasure .btn { margin: 1.5em 5px; width: calc(50% - 15px) }

#Elements article {
	margin: 0 auto;
	width: 75%
}

#Elements fieldset, #Brand fieldset {
	font-size: 1.5rem;
	margin: 1em auto;
	width: 16em
}

#Elements label, #Brand label { font-weight: bold; margin-right: .5em }
#Elements input, #Brand input { width: 10em }
#DetailMeasure form, #SimpleMeasure form { text-align: center }
#DetailMeasure input { width: 10em }

#Shape label {
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #999;
	border-radius: 4px;
	display: inline-block;
	height: calc(100vw / 3 - 10px);
	max-height: 257px;
	max-width: 257px;
	width: calc(100% / 3 - 10px)
}

#Shape fieldset { margin: 0 10px; text-align: center }
#Shape h2 > small { font-size: 60% }

#BrandAdjust label {
	display: block;
	font-size: 1.5rem;
	font-weight: bold
}

#SimpleMeasure strong {
	background: #333;
	color: #fff;
	display: inline-block;
	font-weight: normal;
	margin: 1em auto;
	padding: .5em 3em
}

#SimpleMeasure strong small { font-size: 60%; padding: 0 0 0 .5em }

#BrandAdjust select {
	background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAPCAMAAAABFhU/AAAAPFBMVEUAAAAzMzP4+PgaGhokJCQuLi5LS0uZmZmlpaXR0dHb29vk5OTq6ury8vL8/Pw2NjY/Pz9XV1daWloAAAArksoVAAAAE3RSTlMAzAfl29G0ZlouJBsVDQPJwKilddhHTAAAAERJREFUCNd9zUkSwCAIRNEfNINmDve/awqkyp1v29CNOQklVdyeNB8ezap6C1yLmhfWqdkY63fx+wFifY/0DVdyJXj0A8CrAoJmPNqXAAAAAElFTkSuQmCC') no-repeat  calc(100% - .25em);
	font-size: 1.5rem;
	font-weight: bold;
	padding: .5em;
	width: 100%;
	-webkit-appearance: none
}

#cotton {
	bottom: .5em;
	font-size: 75%;
	font-weight: bold;
	position: absolute !important;
	right: 10px
}

/* Class Def. */
.bgZoom {
	background: rgba(0, 0, 0, .7);
	height: 100vh;
	left: 0;
	position: absolute;
	top: 0;
	width: 100vw
}

.block { display: block !important }

.blur {
	-ms-filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px)
}

.btn {
	background: #ff4d0f;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, .1)), color-stop(100%, rgba(0, 0, 0, .1)));
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	background-image: linear-gradient(rgba(255, 255, 255, .1), rgba(0, 0, 0, .1));
	border: none;
	border-radius: 4px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .29);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .29);
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: 1.5rem;
	padding: .7em;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	-webkit-appearance: none
}

a.btn.general {
	border: none;
	color: #fff;
	font-size: 1.5rem;
	padding: .5em;
	text-align: center;
	text-shadow: none
}

.btn.small { height: 2.4rem; width: 2.4rem }

.btn.small:before {
	font-size: 1.5em;
	line-height: 1.25
}

.btn.darkGray { background: #1a1a1a }
.btn.blue { background: #1da1da }
.btn.basket:before { content: '\e808'; margin-right: 1em }
.btn.icon:before { color: #fff; font-family: choice }
.btn.icon.left:before, .prev:before { content: '\e812' }
.btn.icon.right:before { content: '\e813' }
.prev:before { font-size: 2rem; margin: 0 .75em 0 }
.btn.icon.next:after {
	content: '\e813';
	font-family: choice;
	font-size: 2rem;
	margin: 0 0 0 .75em
}

.groupBtn { margin: 0  0 1em; text-align: center }

.groupBtn label {
	background: -moz-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdfdfd), color-stop(100%, #f2f2f2));
	background: -webkit-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%, #f2f2f2 100%);
	background: linear-gradient(to bottom, #fdfdfd 0%, #f2f2f2 100%);
	border: 1px solid #ccc;
	color: #666;
	font-size: 1.4rem;
	padding: .75em 1em
}

.groupBtn .on {
	background: -moz-linear-gradient(top, #03364b 0%, #456b7a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #03364b), color-stop(100%, #456b7a));
	background: -webkit-linear-gradient(top, #03364b 0%, #456b7a 100%);
	background: -o-linear-gradient(top, #03364b 0%, #456b7a 100%);
	background: -ms-linear-gradient(top, #03364b 0%, #456b7a 100%);
	background: linear-gradient(to bottom, #03364b 0%, #456b7a 100%);
	color: #fff
}

.groupBtn label:first-child { border-radius: 8px 0 0 8px }
.groupBtn label:last-child  { border-radius: 0 8px 8px 0; margin-left: -1px }

.confirmParts {
	margin: 5px 2px;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.confirmParts h3 {
	background: #333;
	border: 1px solid #333;
	color: #fff;
	margin: 0;
	padding: .25em 0;
	text-align: center
}

.confirmParts a.btn.general { font-size: 80%; margin: 3px 0 0; width: 100%; }
.confirmParts > div {
	background-color: #fff;
	background-position-x: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	border: 1px solid #333;
	height: 100px;
	overflow: hidden
}

.embName {
	background: #f0f0f0;
	border: none !important;
	font-size: 1.25rem;
	padding: 3px
}

.confirmParts.flex, .confirmParts.thread{ margin: 5px 2px }

.flex {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.tbl {
	display: table;
	margin: 0 auto;
	padding: .5em;
	text-align: left;
	width: 100%
}

.cell { display: table-cell; padding: .25em 1em }
.full_size { width: 100% }

.confirmSelect {
	border: none;
	border-radius: 0;
	display: inline-block;
	font-size: 1.25rem;
	font-weight: bold;
	padding: .7em;
	text-align: center;
	text-shadow: none
}

.desc {
	background: rgba(0, 0, 0, .6);
	color: #fff;
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: -moz-flex;
	height: 4.5em;
	left: 0;
	line-height: 1.25;
	padding: .25em 10px;
	position: absolute;
	top: 0
}

.desc .name {
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0 1em 0 0;
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1
}

.dFlex {
	display: flex;
	display: -webkit-flex;
	display: -ms-flexbox;
}

.hAuto { height: auto !important }

.zoom-in, .zoom-out {
	background: none;
	border: none;
	box-shadow: none;
	color: #666;
	font-family: choice;
	font-size: 1.75rem;
	position: absolute;
	right: 0;
	text-shadow: none;
	top: 100px;
	z-index: 22
}

.zoom-out { bottom: initial; color: #fff; right: 35vw; top: 50px; zoom: .75 }
.box_center { margin: 0 auto !important }
.txt_center { text-align: center }
.content { font-size: 1rem; width: 16rem }
.hidden { visibility: hidden }
.mt10 { margin-top: 10px !important }
.mt20 { margin-top: 20px !important }
.p0 { padding: 0 !important }
.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }
.z5 { z-index: 5 }
.z6 { z-index: 6 }
.z7 { z-index: 7 }
.z8 { z-index: 8 }
.z9 { z-index: 9 }
.z10 { z-index: 10 }


@media screen and (min-width: 840px) {
	#Display {
		display: block !important;
		margin: 0;
		max-height: 480px;
		max-width: 480px
	}

	#Canvas img {
		max-height: 640px;
		max-width: 640px
	}

	#Navigation {
		height: 120%;
		left: 520px;
		min-height: 0;
		overflow-y: scroll;
		position: absolute;
		top: 0;
		width: 560px
	}

	#Navigation header { box-shadow: 0 0 7px rgba(0, 0, 0, .5) }
	#Navigation > div { height: 100% }

	#Navigation .select, #ConfirmCtrl, #DetailMeasure, #SimpleMeasure {
		border: 1px solid #999;
		box-shadow: 0 0 7px rgba(0, 0, 0, .5);
		height: calc(100% - 9em);
		padding: 10px;
	}

	#DetailMeasure .btn.alone, #SimpleMeasure .btn.alone { width: 50% }
	#DetailMeasure .btn, #SimpleMeasure .btn { margin: 1.5em 5px; width: calc(50% - 15px) }
	#DetailMeasure iframe + p {
		margin: -4px auto 2em;
		padding: .75em;
		background: #333;
		color: #fff;
		width: 437px
	}

	#Zoom {
		height: calc(100vh - 300px);
		left: calc((100vw - (100vh - 300px)) / 2);
		max-height: none;
		max-width: none;
		width: calc(100vh - 300px);
		z-index: 99
	}

	#Shape label {
		height: 160px;
		width: 160px
	}

	#TextureCtrl label,
	#CollarCtrl label,
	#CuffCtrl label,
	#ButtonCtrl label,
	#ThreadCtrl label,
	#FrontCtrl label,
	label.embColor,
	label.embPos,
	label.embFont { margin: 2px 4px }

	#TextureCtrl label { background-size: cover; height: 99px; width: 99px }

	.desc {
		background: rgba(255, 255, 255, .75);
		bottom: 0;
		color: #333;
		height: 4.75em;
		left: 0;
		margin: 0 0 .5em 0;
		padding: 1em;
		position: absolute !important;
		top: initial;
		width: 100%
	}

	.desc .name { flex: initial }

	body > main {
		box-shadow: inset 0 0 16px 10px #efefef;
		margin: 3.5em auto 0;
		position: relative;
		max-width: 1080px
	}

	.content {
		font-size: 1.2rem;
		width: auto;
		-webkit-flex: 1;
		-moz-flex: 1;
		-ms-flex: 1;
		flex: 1
	}

	.rotate.left { left: 30px }
}

@media screen and (max-width: 320px) {
	iframe { height: 160px; width: 284px }
	#DetailMeasure iframe + p {
		margin: -4px auto 2em;
		padding: .75em;
		background: #333;
		color: #fff;
		width: 284px
	}
	#DetailMeasure .btn, #SimpleMeasure .btn { font-size: 1.2rem; padding: .7em 5px }
	#DetailMeasure .btn:after, #SimpleMeasure .btn:after, #DetailMeasure .btn:before, #SimpleMeasure .btn:before { font-size: 1.5rem }
	#DetailMeasure .btn:before, #SimpleMeasure .btn:before {	margin: 0 .5em 0 0 }
	#DetailMeasure .btn:after, #SimpleMeasure .btn:after { margin: 0 0 0 .5em }
}