@charset "UTF-8";

.content{
	font-size: 1.2rem;
	margin: 30px auto 0;
}

.content h2{font-size: 1.6rem;}

.content h1{
	color: #bb8522;
	font-size: 20px;
	text-align: center;
	font-weight: normal;
	letter-spacing: 4px;
	margin-top: 4em;
	margin-bottom: 3em;
}

#title{
	min-width: 320px;
	max-width: 840px;
	width: 80%;
	margin: 0 auto;
}

.terms p{line-height: 2em;}

.box{
	min-width: 320px;
	max-width: 840px;
	width: 80%;
	margin: 30px auto 0;
	border-radius: 10px;
	background-color: #FFF;
	padding-bottom: 2em;
}

.terms .box h2{
	font-size: 1.6rem;
	line-height: 35px;
	margin: 0 2em;
	padding-top: 1em;
}
.terms .box ol li{
	list-style-type: decimal;
	margin: 0 2em 0 5em;
}
.terms .box ul li{
	list-style-type: disc;
	margin: 0 2em 0 5em;
}
.terms .box h3{
	margin: .5em 2em 0 3em;
	font-size: 1.2rem;
}
.terms .box p{
	line-height: 1.5em;
	margin: 0 2em 0 4em;
}

.close a{
	display:block;
	color: #fff;
	width: 11em;
	height: 3em;
	font-weight: bold;
	background: #d59828;
	border: none;
	margin: 30px auto 30px;
	text-align: center;
	line-height: 3em;
}
.flexbox{
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -o-flexbox;
	display: flex;
	margin: 0 auto;
}
.qa .box{
	min-width: 320px;
	max-width: 840px;
	width: 80%;
	border-radius: 0 0 10px 10px;
	background-color: #fff;
	margin: 0 auto 20px;
}
.qa .box dl{padding: 0 15px 10px;}

@media screen and (min-width: 701px) {
	.qa .box dl{
		display: inline-block;
		width: 44%;
	}
}

.qa .box dt{
	color: #d59828;
	padding: 20px 15px 10px;
	font-size: 1.4rem;
}
.qa .box dd{
	margin-left: 2em;
	font-size: 1.2rem;
}

.qa h2{
	line-height: 50px;
	color: #03364b;
	background-color: #fff;
	border-radius: 10px 10px 0 0;
	min-width: 320px;
	max-width: 840px;
	width: 80%;
	margin: 0 auto;
	text-indent: 1em;
	border-bottom-color: #a5a5a5;
	border-bottom-style: solid;
	border-width: 1px;
}

.clear {
	clear:both;
}

.fee .box{
	min-width: 320px;
	max-width: 840px;
	width: 80%;
	border-radius: 0 0 10px 10px;
	background-color: #fff;
	margin: 0 auto 20px;
}

.fee .box p{
	font-size: 1.4rem;
	padding: 0 2em;
	line-height: 1.5em;
}


.fee h2{
	line-height: 50px;
	color: #03364b;
	background-color: #fff;
	border-radius: 10px 10px 0 0;
	min-width: 320px;
	max-width: 840px;
	width: 80%;
	margin: 0 auto;
	text-indent: 1em;
	border-bottom-color: #a5a5a5;
	border-bottom-style: solid;
	border-width: 1px;
}

.fee h3{
	color: #d59828;
	padding: 20px 15px 10px;
	font-size: 1.6rem;
}

.fee .box-gray div{
	width: 15em;
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 10px;
}

.fee .box-gray h4{
	color: #fff;
	background-color: gray;
	text-align: center;
	line-height: 2em;
}

.fee .box-gray p{
	text-align: center;
	padding: 0;
	line-height: 3em;
	border-style: solid;
	border-color: gray;
	border-width: 2px;
}

.box-gray div:first-child{
	margin-left: 40px;
}

#img_card{
	margin: 0 30px;
	width: 85%;
	max-width: 459px;
}

#convenience1{
	margin-left: 30px;
	width: 80%;
	max-width: 398px;
}

#convenience2{
	margin-left: 30px;
	width: 50%;
	max-width: 260px;
}

#img_payeasy{
	margin-left: 30px;
}

.fee h4{
	line-height: 2em;
	font-size: 1.4rem;
	text-indent: 2em;
}

.fee ul{
	padding: 0 2em 0 5em;
}

.fee li{
	list-style-type: disc;
	line-height: 1.3em;
	font-size: 1.2rem;
}

.history .top{
	background-color: #efefef;
	position: relative;
	top: -30px;
}

.history .topimage{
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.history .textimage{
	display: block;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	left: 0;
}

.law .box{
	min-width: 320px;
	max-width: 840px;
	width: 80%;
	margin: 30px auto 0;
	border-radius: 10px;
	background-color: #FFF;
	padding-bottom: 2em;
}

.law .box dt{
	font-size: 1.6rem;
	line-height: 35px;
	margin: 0 2em;
	padding-top: 1em;
}

.law .box dd{
	font-size: 1.4rem;
	line-height: 1.5em;
	margin: 0 2em 0 4em;
}

.law ul{padding-left: 2em;}
.law li{list-style-type: disc;}

.sub{
	min-width: 320px;
	max-width: 840px;
	width: 80%;
	margin: 30px auto 0;
}

.return p{
	line-height: 1.7em;
	padding: 0 2em;
}
.return .box-gray{
	max-width: 42em;
	margin-top: 15px;
}
.return .box-gray h3{
	color: #fff;
	background-color: gray;
	text-align: center;
	line-height: 2em;
	font-size: 1.4rem;
}
.return .box-gray ol{
	padding: 1em 4em;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	background-color: #fff;
}
.return .box-gray li{
	list-style-type: decimal;
	padding: 3px 0;
}

.return h2{
	line-height: 30px;
	color: #03364b;
	border-bottom-color: #a5a5a5;
	border-bottom-style: solid;
	border-width: 1px;
	padding: 20px 1em 0;
}

.return .box dl{
	padding: 0 1em 0 3em;
	font-size: 1.4rem;
}
.return .box dt{font-size: 1.4rem;}
.return .box dd{
	font-size: 1.4rem;
	padding: 0 1em 0 2em;
	line-height: 1.7em;
}
.return em{
	font-size: 1.4rem;
	padding: 10px 1em 0 2em;
}
.return .box h2 small{
	color: #03364b;
	font-size: 1.2rem;
}

#other_ul{padding: 1em 2em 1em 5em;}
#other_ul li{padding: 3px 0}