<header>
	クレリック
	<nav>
		<a ng-href="/choice/shirtdesign/collar" class="btn icon left small darkGray"></a>
		<a ng-href="/choice/shirtdesign/cuff" class="btn icon right small darkGray"></a>
	</nav>
</header>
<div id="ClericCtrl" ng-controller="DesignCtrl" ng-init="init('cleric')">
	<label ng-repeat="t in datas" ng-class="{'on': $index + 1 == data.selected}">
		<input type="radio" id="cleric{{$index}}" name="cleric" ng-model="data.selected" ng-value="{{t.id}}" value="{{t.id}}">{{t.name}}
	</label>
</div>