<div id="EmbroideryCtrl" ng-controller="EmbroideryCtrl" ng-init="init()">
	<div class="desc hidden"></div>
	<header>
		<select id="steps" ng-model="stepx" ng-options="s.label for s in steps" ng-change="goStep()"></select>

		<nav>
			<a ng-href="/shirtdesign/front/" class="btn icon left small darkGray"></a>
		</nav>
	</header>
	<nav class="select">
		<label ng-repeat="t in embroideries" ng-class="{'on': $index + 1 == embroidery.selected}" class="isEmb">
			<input type="radio" id="embroidery{{$index}}" name="embroidery" ng-model="embroidery.selected" ng-value="{{t.id}}" value="{{t.id}}">{{t.name}}
		</label>

		<div id="EmbDesign" ng-if="embroidery.selected != 1">
			<legend>文字<small>（半角英数字のみ。8文字まで）</small></legend>
			<input type="text" id="embName" ng-model="embName" ng-maxlength="8" ng-pattern="/^[0-9A-Za-z]{1,8}/">

			<legend>フォント</legend>
			<label ng-class="{'on': $index + 1 == embColor.selected}" class="embFont" style="background-image: url('/img/design/select/embFont/1.png')">
				<input type="radio" id="embFont" name="embFont" ng-value="1" checked>
			</label>


			<legend>カラー</legend>
			<label ng-repeat="c in embColors" ng-class="{'on': $index + 1 == embColor.selected}" class="embColor" style="background-image: url('/img/design/select/embColor/{{c.id}}.png')">
				<input type="radio" id="embColor{{$index}}" name="embColor" ng-model="embColor.selected" ng-value="{{c.id}}" value="{{c.id}}">
			</label>

			<legend>刺繍の位置</legend>
			<label ng-repeat="p in embPoss" ng-class="{'on': $index + 1 == embPos.selected}" class="embPos" style="background-image: url('/img/design/select/embPos/{{p.id}}.png')">
				<input type="radio" id="embPos{{$index}}" name="embPos" ng-model="embPos.selected" ng-value="{{p.id}}" value="{{p.id}}">
			</label>
		</div>

		<a ng-href="/shirtdesign/confirm/" class="btn full_size mt20" ng-if="isComplete" ng-click="saveCurrentOrder()">デザインの確認</a>
	</nav>
</div>