<header>
	みごろ
	<nav>
		<a ng-href="/choice/shirtdesign/pocket" class="btn icon left small darkGray"></a>
		<a ng-href="/choice/shirtdesign/embroidery" class="btn icon right small darkGray"></a>
	</nav>
</header>
<div id="FrontCtrl" ng-controller="DesignCtrl" ng-init="init('front')">
	<label ng-repeat="t in datas" ng-class="{'on': $index + 1 == data.selected}">
		<input type="radio" id="front{{$index}}" name="front" ng-model="data.selected" ng-value="{{t.id}}" value="{{t.id}}">{{t.name}}
	</label>
</div>