<header>
	袖
	<nav>
		<a ng-href="/choice/shirtdesign/" class="btn icon left small darkGray"></a>
		<a ng-href="/choice/shirtdesign/collar" class="btn icon right small darkGray"></a>
	</nav>
</header>
<div id="SleeveCtrl" ng-controller="DesignCtrl" ng-init="init('sleeve')">
	<label ng-repeat="t in datas" ng-class="{'on': $index + 1 == data.selected}">
		<input type="radio" id="sleeve{{$index}}" name="sleeve" ng-model="data.selected" ng-value="{{t.id}}" value="{{t.id}}">{{t.name}}
	</label>
</div>