<header>
	ボタン糸
	<nav>
		<a ng-href="/choice/shirtdesign/button" class="btn icon left small darkGray"></a>
		<a ng-href="/choice/shirtdesign/pocket" class="btn icon right small darkGray"></a>
	</nav>
</header>
<div id="ThreadCtrl" ng-controller="DesignCtrl" ng-init="init('thread')">
	<label ng-repeat="t in datas" ng-class="{'on': $index + 1 == data.selected}">
		<input type="radio" id="thread{{$index}}" name="thread" ng-model="data.selected" ng-value="{{t.id}}" value="{{t.id}}">{{t.name}}
	</label>
</div>